<header>
  <div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <span class='pull-left'>
          <a class="navbar-brand" href="/" title='Testello.com'>
            <img class="logo img-responsive" src="{{site.baseurl}}/logo.png">
          </a>
        </span>
        <span class='pull-right'>
          <a class="navbar-brand" href="https://testello.com" title='dev.testello.com'>
            <img class="logo img-responsive" src="{{site.baseurl}}/testello_logo.png">
          </a>
        </span>
        <span id="top-link-block" class="affix pull-right">
          <a href="#top" class="btn transparent-btn" onclick="$('html,body').animate({scrollTop:0},'slow');return false;">
            <span class="fa fa-search">Back to Top</span>
          </a>
        </span>
      </div>
    </div>
  </div>
</header>
